.MainContainer{
    background-color: #212529;
    position: absolute;
    top:0px;
    left: 0px;
    height: 100vh;
    width: 100%;
    overflow:hidden;
    .LeftContainer{
        background-color: yellowgreen;
        width: 3%;
        height: 95%;
        display: flex;
        align-items: center;
        justify-content: left;
    }
    .PhotoContainer{
        position: relative;
        width: 1%;
        height: 100%;
        padding-left: 100%;
    }
    .TextContainer{
        display: flex;
        width: 66%;
    }







}